{
  "realm": "KalahRealm",
  "auth-server-url": "http://${KEYCLOAK_HOST}:${KEYCLOAK_PORT}/auth",
  "ssl-required": "external",
  "resource": "kalah-web",
  "public-client": true,
  "confidential-port": 0
}